<!DOCTYPE html>
<html lang="en">
    
    <%- include('../partials/head.ejs') %>

<body>

    <%- include('../partials/nav.ejs') %>
    <div class="barre">
        <input class="creerPub" id="creer" type="submit" value="Créer une nouvelle cible de routage" onclick="creer()">
        <input class="ModifPub" id="Modif" type="submit" value="Modifier les cibles de routages refusés" onclick="Modifier()">
        <input class="valPub" id="val" type="submit" value="Valider une cible de routage" onclick="valider()">    
        <input class="recupPub" id="recup" type="submit" value="Envoyer une publicité" onclick="recuperer()">
    </div>
    
    <div  >
        <p><% cible.titre%></p>
        <h2><%= cible.titre %></h2>
        <p><%=cible.description%></p>
        <h2>Articles de la publicité : </h2>
        <%articles.forEach( article => {%>
            <p><%=article.designation%></p>
        <%})%>
        <h2>Cible de routage : </h2>
        <% if(individus.length>0) { %> 
            <% individus.forEach( individu => { %>
                <p><%=individu.nom.toUpperCase()%><%=individu.Prenom%></p>
            <% }); %> 
        <% }else{ %> 
            <p> Aucun individu ne correspond aux condtions émises </p> 
        <% } %>
        <h3> Conditions de cible de routage choisis </h3>
        <%if(cible.ageMin !=null && cible.ageMax != null) { %>
            <p>Age compris entre <%=cible.ageMin%> et <%=cible.ageMax%> ans</p>
        <%}%>
        <% if (cible.categoriePro != ''){ %>
            <p> Catégorie socio-professionnelle : <%=cible.categoriePro%> </p>
        <% } %>
        <% if (cible.departementResidence != null){ %>
            <p>Départeement de résidence : <%=cible.departementResidence%> </p>
        <% } %>
        <% if (cible.client != ''){ %>
            <p>Sélection parmi les clients : <%=cible.client%> </p>
        <% } %>
        <p>remarque :<%=cible.remarque %> </p>
        <a class="delete" data-doc="<%= cible._id %>">delete</a>
    </div>
    <script>
        let on_modif = document.getElementById("Modif")
        on_modif.classList.add("on");
        //////////////////
        function creer(){
            location.replace("http://localhost:3000/creationCiblederoutage")
        }
        function valider(){
            location.replace("http://localhost:3000/validationCiblederoutage")
        }
        function recuperer(){
            location.replace("http://localhost:3000/envoyerPublicite")
        }
        function Modifier(){
            location.replace("http://localhost:3000/ciblederoutageRefuses")
        }
        ///////////////////
        const trashcan = document.querySelector('a.delete');
        trashcan.addEventListener('click', (e) => {
          const endpoint = `/ciblederoutageRefuses/${trashcan.dataset.doc}`;
          fetch(endpoint, {
            method: 'DELETE',
          })
            .then(response => response.json())
            .then((data) => window.location.href = data.redirect)
            .catch(err => console.log(err));
        });
    </script>

    <%- include('../partials/footer.ejs') %>

</body>
</html>