<!DOCTYPE html>
<html lang="en">
    
    <%- include('../partials/head.ejs') %>

<body>

    <%- include('../partials/nav.ejs') %>
    <div class="barre">
        <input class="creerPub" id="creer" type="submit" value="Créer une nouvelle cible de routage" onclick="creer()">
        <input class="valPub" id="val" type="submit" value="Valider une cible de routage" onclick="valider()">    
        <input class="recupPub" id="recup" type="submit" value="Envoyer une publicité" onclick="recuperer()">
    </div>
    
    <div class="page" id='choix'>
        <form action='' method='POST'> 
            <label class='partie'>Création de cible de routage :</label>
            <label>Catégorie socio-professionnelle 
                <SELECT name='categoriePro' size='1'>
                    <OPTION disabled selected>Catégorie
                    <OPTION>Agriculteurs exploitants
                    <OPTION>Artisans. commerçants. chefs entreprise
                    <OPTION>Cadres et professions intellectuelles supérieures
                    <OPTION>Professions intermédiaires
                    <OPTION>Employés
                    <OPTION>Ouvriers
                    <OPTION>Retraités
                    <OPTION>Autres    
                </SELECT>
            </label> 
            <label>Age: de <input type='number' min='0' max='110' name='ageMin' > à <input type='number' min='0' max='110' name='ageMax'></label>
            <label>Département de résidence <input type='text' name='departementResidence'> </label>
            <label>Clients ? 
                <SELECT name='client' size='1'>
                    <OPTION>Oui</OPTION>
                    <OPTION>Non</OPTION>
                </SELECT>
            </label> 
            <label class='partie'>Choix de la publicité :</label> 
            <label>Type de catalogue </label> 
            <label>
                <input id='papier' type='checkbox' onclick='Papier()' name='cataloguePapier'>
                Catalogue Papier 
                <label><input id='internet' type='checkbox' onclick='Internet()' name='catalogueInternet'>Canaux internet</label> 
            </label> 
            <div id='Catalogue'></div> 
            <label>Titre <input type='text' name='titre'> </label>
            <label>Description <input type='text' name='description' ></label>
            <div id="articles"><label>Choix des articles</label>
                <select name="article1" id="">
                    <option value="" disabled selected>choisir 1 article</option>
                    <% articles.forEach(article =>{ %>
                        <option label="<%= article.designation %>" value="<%= article.id %>"></option>
                    <% }) %>
                </select>
                <input type='button' id="button1" value='+' placeholder='+' onclick='Ajout_Article2()'>
                <select name="article2" id="article2" class="hidden">
                    <option value="" disabled selected>choisir 1 article</option>
                    <% articles.forEach(article =>{ %>
                        <option label="<%= article.designation %>" value="<%= article.id %>"></option>
                    <% }) %>
                </select>
                <input type='button' id="suppr1" value="-" placeholder=' - ' class="hidden" onclick='Supprimer_Article2()'>
                <input type='button' id="button2" value='+' placeholder='+' class="hidden" onclick='Ajout_Article3()'>
                <select name="article3" id="article3" class="hidden">
                    <option value="" disabled selected>choisir 1 article</option>
                    <% articles.forEach(article =>{ %>
                        <option label="<%= article.designation %>" value="<%= article.id %>"></option>
                    <% }) %>
                </select>
                <input type='button' id="suppr2" value="-" placeholder=' - ' class="hidden" onclick='Supprimer_Article3()'>
                <input type='button' id="button3" value='+' placeholder='+' class="hidden" onclick='Ajout_Article4()'>
                <select name="article4" id="article4" class="hidden">
                    <option value="" disabled selected>choisir 1 article</option>
                    <% articles.forEach(article =>{ %>
                        <option label="<%= article.designation %>" value="<%= article.id %>"></option>
                    <% }) %>
                </select>
                <input type='button' id="suppr3" value="-" placeholder=' - ' class="hidden" onclick='Supprimer_Article4()'>
                <input type='button'id="button4" value='+' placeholder='+' class="hidden" onclick='Ajout_Article5()'>
                <select name="article5" id="article5" class="hidden">
                    <option value="" disabled selected>choisir 1 article</option>
                    <% articles.forEach(article =>{ %>
                        <option label="<%= article.designation %>" value="<%= article.id %>"></option>
                    <% }) %>
                </select>
                <input type='button' id="suppr4" value="-" placeholder=' - ' class="hidden" onclick='Supprimer_Article5()'>
            </div> 
            <input type='submit' value='Soumettre à la validation'>
        </form>
        
    </div>
    <script>
        function creer(){
            location.replace("http://localhost:3000/creationCiblederoutage")
        }
        function valider(){
            location.replace("http://localhost:3000/validationCiblederoutage")
        }
        function recuperer(){
            location.replace("http://localhost:3000/envoyerPublicite")
        }
        /////////////////////////////////
        let on_creer = document.getElementById("creer");
        on_creer.classList.add("on");
        //////////////////////////////
        const suppr1 = document.getElementById('suppr1')
        const suppr2 = document.getElementById('suppr2')
        const suppr3 = document.getElementById('suppr3')
        const suppr4 = document.getElementById('suppr4')
        const article2 = document.getElementById('article2')
        const article3 = document.getElementById('article3')
        const article4 = document.getElementById('article4')
        const article5 = document.getElementById('article5')
        const button1 = document.getElementById('button1')
        const button2 = document.getElementById('button2')
        const button3 = document.getElementById('button3')
        const button4 = document.getElementById('button4')
        function Ajout_Article2(){
            article2.classList.remove('hidden')
            suppr1.classList.remove('hidden')
            button2.classList.remove('hidden')
            button1.classList.add('hidden')
        }
        function Supprimer_Article2(){
            article2.classList.add('hidden')
            button1.classList.remove('hidden')
            button2.classList.add('hidden')
            suppr1.classList.add('hidden')
        }
        function Ajout_Article3(){
            article3.classList.remove('hidden')
            button3.classList.remove('hidden')
            button2.classList.add('hidden')
            suppr1.classList.add('hidden')
            suppr2.classList.remove('hidden')
        }
        function Supprimer_Article3(){
            article3.classList.add('hidden')
            button2.classList.remove('hidden')
            button3.classList.add('hidden')
            suppr1.classList.remove('hidden')
            suppr2.classList.add('hidden')
        }
        function Ajout_Article4(){
            article4.classList.remove('hidden')
            button4.classList.remove('hidden')
            button3.classList.add('hidden')
            suppr2.classList.add('hidden')
            suppr3.classList.remove('hidden')
        }
        function Supprimer_Article4(){
            article4.classList.add('hidden')
            button3.classList.remove('hidden')
            button4.classList.add('hidden')
            suppr2.classList.remove('hidden')
            suppr3.classList.add('hidden')
        }
        function Ajout_Article5(){
            const button4 = document.getElementById('button4')
            article5.classList.remove('hidden')
            button4.classList.add('hidden')
            suppr3.classList.add('hidden')
            suppr4.classList.remove('hidden')
        }
        function Supprimer_Article5(){
            article5.classList.add('hidden')
            button4.classList.remove('hidden')
            suppr3.classList.remove('hidden')
            suppr4.classList.add('hidden')
        }
        ////////////////////////////////////
        let papierElements = document.getElementById('Catalogue')
        function Papier(){
            let papierElements = document.getElementById('Catalogue')
            const papier = document.getElementById('papier')
            const internet = document.getElementById('internet')
            if(papier.checked){
                internet.checked=false;
                papierElements.innerHTML="";
                papierElements.insertAdjacentHTML('beforeend',"<label>Qualité du papier </label><SELECT name='typePapier' size='1'><OPTION>Standard</OPTION><OPTION>Supérieur</OPTION> <OPTION>Economique</OPTION> </SELECT>")
            }
            if(!papier.checked){
                papierElements.innerHTML="";
            }
        }
        //////////////////////////////////////
        function Internet(){
            let papierElements = document.getElementById('Catalogue')
            if(internet.checked){
                papier.checked=false;
                papierElements.innerHTML="";
            }
            if(!internet.checked){
                papierElements.innerHTML="";
            }
        }
        // let on_val = document.getElementById("val")
        // let on_recup = document.getElementById("recup")
        // function Creer(){
           
        //     on_val.classList.remove("on");
        //     on_recup.classList.remove("on");
        //     choix.innerHTML= "";

        //     choix.insertAdjacentHTML('afterbegin',"<form action='' method='POST'> <label class='partie'>Création de cible de routage :</label><label>Catégorie socio-professionnelle <SELECT name='categoriePro' size='1'><OPTION disabled selected>Catégorie<OPTION>Agriculteurs exploitants<OPTION>Artisans. commerçants. chefs entreprise<OPTION>Cadres et professions intellectuelles supérieures<OPTION>Professions intermédiaires<OPTION>Employés<OPTION>Ouvriers<OPTION>Retraités<OPTION>Autres</SELECT></label> <label>Age: de <input type='number' min='0' max='110' name='ageMin' > à <input type='number' min='0' max='110' name='ageMax'></label><label>Département de résidence <input type='text' name='departementResidence'> </label><label>Clients ? <SELECT name='client' size='1'><OPTION>Oui</OPTION><OPTION>Non</OPTION></SELECT></label> <label class='partie'>Choix de la publicité :</label> <label>Type de catalogue </label> <label><input id='papier' type='checkbox' onclick='Papier()' name='cataloguePapier'>Catalogue Papier <label><input id='internet' type='checkbox' onclick='Internet()' name='catalogueInternet'>Canaux internet</label> </label> <div id='Catalogue'></div> <label>Titre <input type='text' name='titre'> </label><label>Description <input type='text' name='description' ></label><div><label>Choix des articles</label></div> <input name='articles' type='text'></input><input type='submit' value='Soumettre à la validation'></form>")

        // }
        // function Valider(){
        //     on_creer.classList.remove("on");
        //     on_val.classList.add("on");
        //     on_recup.classList.remove("on");
        //     choix.innerHTML= "";
            
        // }
        // function Recuperer(){
        //     on_creer.classList.remove("on");
        //     on_val.classList.remove("on");
        //     on_recup.classList.add("on");
        //     choix.innerHTML= "";
        //     choix.insertAdjacentHTML('afterbegin',"")
        // }
       
    </script>

    <%- include('../partials/footer.ejs') %>

</body>
</html>