<!DOCTYPE html>
<html lang="en">
    
    <%- include('../partials/head.ejs') %>

<body>

    <%- include('../partials/nav.ejs') %>
    <div class="barre">
        <input class="creerPub" id="creer" type="submit" value="Créer une nouvelle cible de routage" onclick="creer()">
        <input class="ModifPub" id="Modif" type="submit" value="Modifier les cibles de routages refusés" onclick="Modifier()">
        <input class="valPub" id="val" type="submit" value="Valider une cible de routage" onclick="valider()">    
        <input class="recupPub" id="recup" type="submit" value="Envoyer une publicité" onclick="recuperer()">
    </div>
    
    <div class="page" id='choix'>
        <form action='' method='POST'> 
            <label class='partie'>Création de cible de routage :</label>
            <label>Catégorie socio-professionnelle 
                <SELECT name='categoriePro' size='1'>
                    <OPTION disabled selected>Catégorie
                    <OPTION>Agriculteurs exploitants
                    <OPTION>Artisans. commerçants. chefs entreprise
                    <OPTION>Cadres et professions intellectuelles supérieures
                    <OPTION>Professions intermédiaires
                    <OPTION>Employés
                    <OPTION>Ouvriers
                    <OPTION>Retraités
                    <OPTION>Autres    
                </SELECT>
            </label> 
            <label>Age: de <input id="min" type='number' min='0' max='110' name='ageMin' > à <input type='number' min=getMin() max='110' name='ageMax'></label>
            <label>Département de résidence <input type='number' min='0' name='departementResidence'> </label>
            <label>Clients ? 
                <SELECT name='client' size='1'>
                    <option selected>  </option>
                    <OPTION>Oui</OPTION>
                    <OPTION>Non</OPTION>
                </SELECT>
            </label> 
            <label class='partie'>Choix de la publicité :</label> 
            <label>Type de catalogue </label> 
            <label>
                <input id='papier' type='checkbox' onclick='Papier()' name='cataloguePapier'>
                Catalogue Papier 
                <label><input id='internet' type='checkbox' onclick='Internet()' name='catalogueInternet'>Canaux internet</label> 
            </label> 
            <div id='Catalogue'></div> 
            <label>Titre <input type='text' name='titre' required> </label>
            <label>Description <input type='text' name='description' required></label>
            <div id="articles"><label>Choix des articles</label>
                <select name="articles" class="numberArt">
                    <option value="" disabled selected>choisir 1 article</option>
                    <% articles.forEach(article =>{ %>
                        <option label="<%= article.designation %>" value="<%= article.id %>"></option>
                    <% }) %>
                </select>
            </div> 
            <input type='button' id="ajout" value='+' placeholder='+' onclick='Ajout_Article()'>
            <input type='button' id="suppr" value="-" placeholder=' - ' class="hidden" onclick='Supprimer_Article()'>
            <input type='submit' value='Soumettre à la validation'>
        </form>
        
    </div>
    <script>
        function getMin(){
            return document.getElementById(min).value
        }
        function creer(){
            location.replace("http://localhost:3000/creationCiblederoutage")
        }
        function valider(){
            location.replace("http://localhost:3000/validationCiblederoutage")
        }
        function recuperer(){
            location.replace("http://localhost:3000/envoyerPublicite")
        }
        function Modifier(){
            location.replace("http://localhost:3000/ciblederoutageRefuses")
        }
        /////////////////////////////////
        let on_creer = document.getElementById("creer");
        on_creer.classList.add("on");
        const articles = document.getElementById('articles');
        const suppr = document.getElementById('suppr');
        const ajout = document.getElementById('ajout');
        //////////////////////////////
        function Ajout_Article(){
            const nbArt = document.getElementsByClassName("numberArt").length+1;
            articles.insertAdjacentHTML('beforeend',"<select name='articles' class='numberArt'><option value='' disabled selected>choisir 1 article</option><% articles.forEach(article =>{ %><option label='<%= article.designation %>' value='<%= article.id %>'></option><% }) %></select>")
            if(nbArt>1){
                suppr.classList.remove('hidden')
            }
            if(nbArt>=5){
                ajout.classList.add('hidden')
            } 
        }
        function Supprimer_Article(){
            const nbArt = document.getElementsByClassName("numberArt").length;
            articles.removeChild(articles.lastChild)
            ajout.classList.remove('hidden')
            if(nbArt==2){
                suppr.classList.add('hidden')
            }       
        }
        //////////////////////////////////////
        function Internet(){
            let papierElements = document.getElementById('Catalogue')
            if(internet.checked){
                papier.checked=false;
                papierElements.innerHTML="";
            }
            if(!internet.checked){
                papierElements.innerHTML="";
            }
        }
        // let on_val = document.getElementById("val")
        // let on_recup = document.getElementById("recup")
        // function Creer(){
           
        //     on_val.classList.remove("on");
        //     on_recup.classList.remove("on");
        //     choix.innerHTML= "";

        //     choix.insertAdjacentHTML('afterbegin',"<form action='' method='POST'> <label class='partie'>Création de cible de routage :</label><label>Catégorie socio-professionnelle <SELECT name='categoriePro' size='1'><OPTION disabled selected>Catégorie<OPTION>Agriculteurs exploitants<OPTION>Artisans. commerçants. chefs entreprise<OPTION>Cadres et professions intellectuelles supérieures<OPTION>Professions intermédiaires<OPTION>Employés<OPTION>Ouvriers<OPTION>Retraités<OPTION>Autres</SELECT></label> <label>Age: de <input type='number' min='0' max='110' name='ageMin' > à <input type='number' min='0' max='110' name='ageMax'></label><label>Département de résidence <input type='text' name='departementResidence'> </label><label>Clients ? <SELECT name='client' size='1'><OPTION>Oui</OPTION><OPTION>Non</OPTION></SELECT></label> <label class='partie'>Choix de la publicité :</label> <label>Type de catalogue </label> <label><input id='papier' type='checkbox' onclick='Papier()' name='cataloguePapier'>Catalogue Papier <label><input id='internet' type='checkbox' onclick='Internet()' name='catalogueInternet'>Canaux internet</label> </label> <div id='Catalogue'></div> <label>Titre <input type='text' name='titre'> </label><label>Description <input type='text' name='description' ></label><div><label>Choix des articles</label></div> <input name='articles' type='text'></input><input type='submit' value='Soumettre à la validation'></form>")

        // }
        // function Valider(){
        //     on_creer.classList.remove("on");
        //     on_val.classList.add("on");
        //     on_recup.classList.remove("on");
        //     choix.innerHTML= "";
            
        // }
        // function Recuperer(){
        //     on_creer.classList.remove("on");
        //     on_val.classList.remove("on");
        //     on_recup.classList.add("on");
        //     choix.innerHTML= "";
        //     choix.insertAdjacentHTML('afterbegin',"")
        // }
       
    </script>

    <%- include('../partials/footer.ejs') %>

</body>
</html>