<!DOCTYPE html>
<html lang="en">
    
    <%- include('../partials/head.ejs') %>

<body>

    <%- include('../partials/nav.ejs') %>
    <%- include('../partials/barreProspection.ejs') %>
    
    <div class="publicite" >

        <% if (cibleDeRoutages.length > 0) { %>
            <% cibleDeRoutages.forEach(cible => { %>
                <%if(cible.valide) { %>
                    <div >
                        <a class="lien" href="./envoyerPublicite/<%= cible._id %>">
                            <h3 class="titreCible" ><%= cible.titre %></h3>
                            <p class="dateCreation"> Date de création : <%= cible.dateProspection.toDateString() %></p>
                            <p class='dateVal'>Date de validation <%= cible.dateValide.toDateString() %></p> 
                        </a>
                            <% if(Math.abs(new Date() - cible.dateValide.getTime()) >  864000000 ) { %> 
                                <p class="expire">Expiré, les individus ne font plus partie de la cible de routage</p>   
                            <% } %> 
                            <input type="button" class="delete" data-doc="<%= cible._id %>" value="Supprimer">
                    </div>
                <%} %>
            <% }) %>
        <% } else { %>
            <p>Pas de publicité à envoyer ou en attente de validation</p>
        <% } %>

    </div>
    <script>
       let on_recup = document.getElementById("recup")
       on_recup.classList.add("on");
        ////////////////////
        const trashcan = document.querySelector('input.delete');
            trashcan.addEventListener('click', (e) => {
            const endpoint = `/validationCiblederoutage/${trashcan.dataset.doc}`;
            fetch(endpoint, {
                    method: 'DELETE',
                })
                .then(response => response.json())
                .then((data) => window.location.href = data.redirect)
                .catch(err => console.log(err));
            });
    </script>

    <%- include('../partials/footer.ejs') %>

</body>
</html>