<!DOCTYPE html>
<html lang="en">
    
    <%- include('../partials/head.ejs') %>

<body>

    <%- include('../partials/nav.ejs') %>
    <div class="barre">
        <input class="creerPub" id="creer" type="submit" value="Créer une nouvelle cible de routage" onclick="creer()">
        <input class="valPub" id="val" type="submit" value="Valider une cible de routage" onclick="valider()">    
        <input class="recupPub" id="recup" type="submit" value="Envoyer une publicité" onclick="recuperer()">
    </div>
    
    <div class="page" >
        <% if (cibleDeRoutages.length > 0) { %>
            <% cibleDeRoutages.forEach(cible => { %>
                <%if(cible.valide) { %>
                    <a class="single" href="./prospection/<%= cible._id %>">
                    <h3 class="nom"><%= cible.titre %></h3>
                    <p><%= cible.dateProspection.toDateString() %></p>
                </a>
                
                <%} %>
            <% }) %>
        <% } else { %>
            <p>Pas de publicité à envoyer ou en attente de validation</p>
        <% } %>
    </div>
    <script>
       let on_recup = document.getElementById("recup")
       on_recup.classList.add("on");
       function creer(){
            location.replace("http://localhost:3000/creationCiblederoutage")
        }
        function valider(){
            location.replace("http://localhost:3000/validationCiblederoutage")
        }
        function recuperer(){
            location.replace("http://localhost:3000/envoyerPublicite")
        }
    </script>

    <%- include('../partials/footer.ejs') %>

</body>
</html>