<!DOCTYPE html>
<html lang="en">
    
    <%- include('../partials/head.ejs') %>

<body>

    <%- include('../partials/nav.ejs') %>
    <%- include('../partials/barreProspection.ejs') %>
    
    <div class="page" >
        <% if (cibleDeRoutages.length > 0) { %>
            <% cibleDeRoutages.forEach(cible => { %>
                <%if(!cible.valide && !cible.refus) { %>
                    <a class="single" href="./validationCiblederoutage/<%= cible._id %>">
                        <h3 class="nom"><%= cible.titre %></h3>
                        <p><%= cible.dateProspection.toDateString() %></p>
                    </a> 
                <% } %>
            <% }) %>
        <% } else { %>
            <p>Pas de publicité en attente de validation</p>
        <% } %>
    </div>
    <script>
        let on_val = document.getElementById("val")
        on_val.classList.add("on");
    </script>

    <%- include('../partials/footer.ejs') %>

</body>
</html>