<!DOCTYPE html>
<html lang="en">
    
    <%- include('../partials/head.ejs') %>

<body>

    <%- include('../partials/nav.ejs') %>
    <%- include('../partials/barreProspection.ejs') %>
    
    <div class="page" >
        <% if (cibleDeRoutages.length > 0) { %>
            <% cibleDeRoutages.forEach(cible => { %>
                <%if(cible.refus) { %>
                    <a class="single" href="./ciblederoutageRefuses/<%= cible._id %>">
                    <h3 class="nom"><%= cible.titre %></h3>
                </a>
                <p><%= cible.dateProspection.toDateString() %></p>
                <%} %>
            <% }) %>
        <% } else { %>
            <p>Pas de publicité à envoyer ou en attente de validation</p>
        <% } %>
    </div>
    <script>
        let on_modif = document.getElementById("Modif")
        on_modif.classList.add("on");
    </script>

    <%- include('../partials/footer.ejs') %>

</body>
</html>