<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head.ejs') %>

<body>
    <%- include('../partials/nav.ejs') %>

    <%- include('../partials/barreSaisieCom.ejs') %>
            
    <div class="page" id='choix'>
        <div class="details content">
            <h2><%= commande.numCommande %></h2>
            <div class="content">
                <p><%=cl.nom%> <%=cl.prenom%></p>
                <% larticles.forEach(article =>{ %>
                    <p> <%=article.designation%> </p>
                <% }) %>
                <p><%=commande.prix%>€</p>
            </div>
            <input type='submit' class='update' value='Modifier'>
            <input type='button' class="delete" data-doc="<%= commande._id %>" value='Supprimer'>
            <input type="button" value="Annuler" onclick="location.href='/modifCom';">
        </div>
    </div>

    <script>
        let on_Modif_Commande = document.getElementById("R_Comm");
        on_Modif_Commande.classList.add("on");

        const trashcan = document.querySelector('a.delete');
        trashcan.addEventListener('click', (e) => {
            const endpoint = `/commande/${trashcan.dataset.doc}`;
            fetch(endpoint, {
            method: 'DELETE',
            })
            .then(response => response.json())
            .then((data) => window.location.href = data.redirect)
            .catch(err => console.log(err));
            });

    </script>

    <%- include('../partials/footer.ejs') %>

</body>

</html>