<!DOCTYPE html>
<html lang="en">
    
    <%- include('../partials/head.ejs') %>

<body>
 
    <%- include('../partials/nav.ejs') %>
    <div class="barre">
        <input class="Nouvel_Commande" id="New_Comm" type="submit" value="Créer une nouvelle Commande" >
        <input class="Recherche_Commande" id="R_Comm" type="submit" value="Compléter une Commande" onclick="Mcommande() ">
    </div>

    <div class="page"  >
        <form action="/creerCom" method="POST" id='choix'>
            <label class='titre'>Individu
            <select name="client" id="">
                <option value="" disabled selected>choisir 1 individu</option>
                <% individus.forEach(individu =>{ %>
                    <option label="<%= individu.nom %> <%= individu.prenom %>" value="<%= individu.id %>"></option>
                <% }) %>
            </select>  </label> 
            <input class="NewI" id='buttonIndiv' type='button' value="Nouvel individu" onclick="nouvelIndiv()">
            <!-- <div id="deroule_Indiv" class="Contenu_Indi">
                <label class='Col1'>Nom*</label><input class='Col1' type='text' name='nom' required>
                <label class='Col2'>Prénom*</label>
                <input class='Col2' type='text' name='prenom' required>
                <label>Date de Naissance*</label>
                <input type='date' name='dateNaissance' placeholder='01/01/1950' required>
                <label>Catégorie socio-professionnelle*</label>
                <SELECT name='categoriePro' size='1' required>
                    <OPTION selected disabled>Catégorie<OPTION>Agriculteurs exploitants <OPTION>Artisans. commerçants. chefs entreprise<OPTION>Cadres et professions intellectuelles supérieures<OPTION>Professions intermédiaires<OPTION>Employés<OPTION>Ouvriers<OPTION>Retraités<OPTION>Autres</SELECT>
                <label>Adresse*</label>
                <input class='Col1' type='text' placeholder='N° de voie*' name='adresseNum' pattern='[0-9]+' required>
                <input class='Col2' type='text' placeholder='Nom de la Voie*' name='adresseType' required>
                <input class='Col1' type='text' placeholder='Code postal*' pattern='[0-9]{5}' name='adresseCode' required>
                <input class='Col2' type='text' placeholder='Ville*' name='adresseVille' required>
                <input type='text' placeholder='Complément d`adresse' name='adresseInfos'>
                <label class='Col1'>Numéro de téléphone*</label>
                <input class='Col1' type='tel' name='numeroTel' placeholder='0XXXXXXXXX' pattern='[0]{1}[0-9]{9}' required>
                <label class='Col2'>Adresse mail</label>
                <input class='Col2' type='email' name='adresseMail' placeholder='exemple@gmail.com'>
                <label>Caractéristique commerciale*</label>
                <SELECT name='statut' size='1' required>
                    <OPTION>Enregistré<OPTION>Prospect<OPTION>Client<OPTION>Client interdit</SELECT>
                <input type='submit' value='Créer un nouvel Individu'>
            </div> -->
            <label class='titre'>Article(s): <input type='button' value='+' placeholder='+' onclick='Ajout_Article()'> </label>
            <div id='articles'>
                <input class='numberArt' type='button' value=1 >
                <label class='ref'>Désignation
                <select name="articles" id="">
                    <option value="" disabled selected>choisir 1 article</option>
                    <% articles.forEach(article =>{ %>
                        <option label="<%= article.designation %>" value="<%= article.id %>"></option>
                    <% }) %>
                </select></label>
                <label>Quantité <input type='number' min='1' max='999' name='quantite' required></label>
            </div>
            <label class='titre'>Réglement:</label>
            <label class='modePaie'><input id='cheque' type='checkbox' onclick='paiementCheque()' name='pCheque'>Chèque</label>
            <label><input id='carte' type='checkbox' onclick='paiementCarte()' name='pCarte'>Carte Bancaire</label>
            <div id='paiementElements'></div> 
            <input type='submit' value='Créer la commande'>
        </form>
        
    </div>
    <script>
        let on_New_Comm = document.getElementById("New_Comm")
        //let on_R_Comm = document.getElementById("R_Comm")
        //let grid_form = document.getElementById("choix")
        on_New_Comm.classList.add("on")
        //on_R_Comm.classList.remove("on")
        //grid_form.classList.remove("NewGrid");

        function Mcommande() {
            location.replace("http://localhost:3000/modifCom")
        }
        
        function nouvelIndiv(){
            document.getElementById("deroule_Indiv").classList.toggle("popup");
        }
        
        window.onclick = function(event) {
  if (!event.target.matches('.NewI')) {
    var dropdowns = document.getElementsByClassName("Contenu_Indi");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('popup')) {
        openDropdown.classList.remove('popup');
      }
    }
  }
}
        // function Nouvel_Commande(){
        //     on_New_Comm.classList.add("on")
        //     on_R_Comm.classList.remove("on")
        //     grid_form.classList.remove("NewGrid");
        //     // const articles = document.getElementById('articles');
        //     const choix = document.getElementById('choix');
        //     choix.innerHTML= "<div id='articles'><input class='numberArt' type='button' value=1 ><label class='ref'>Référence <input type='text' name='articles' required></label> <label>Quantité <input type='number' min='1' max='999' name='quantite' required></label> </div>";
        //     choix.insertAdjacentHTML('afterbegin',"<label class='titre'>Individu <input type='text' size='10' name='client' required> </label> <label class='titre'>Article(s): <input type='button' value='+' placeholder='+' onclick='Ajout_Article()'> </label>")
        //     // articles.insertAdjacentHTML('afterbegin',"<input class:'numberArt' type='button' value='1'><label>Reference</label><input type='text'> <label>Quantité</label> <input type='number'>")
        //     choix.insertAdjacentHTML('beforeend',"<label class='titre'>Réglement:</label> <label class='modePaie'><input id='cheque' type='checkbox' onclick='paiementCheque()' name='pCheque'>Chèque</label> <label><input id='carte' type='checkbox' onclick='paiementCarte()' name='pCarte'>Carte Bancaire</label> <div id='paiementElements'></div> <input type='submit' value='Créer la commande'>")
        // }

        function Ajout_Article(){
            const nbArt = document.getElementsByClassName("numberArt").length+1;
            const articles = document.getElementById('articles');
            articles.insertAdjacentHTML('beforeend',"<input class='numberArt' type='button' value="+nbArt+"><label class='ref'>Désignation <select name='articles' id=''> <option value='' disabled selected>choisir 1 article</option><% articles.forEach(article =>{ %><option label='<%= article.designation %>' value='<%= article.id %>'> </option><% }) %>+</select> </label> <label>Quantité <input type='number' min='1' max='999'name='quantite' required></label>")
        }
        
        function paiementCarte(){
            const carte = document.getElementById('carte')
            const paiementElements = document.getElementById('paiementElements')
            const cheque = document.getElementById('cheque')
            if(carte.checked){
                cheque.checked=false;
                paiementElements.innerHTML="";
                
                paiementElements.insertAdjacentHTML('beforeend',"<label>Numéro carte <input type='text' name='numeroCarte' required></label><label>Date d'expiration <input type='text' name='dateExpiration' placeholder='mm/aa' required></label> ")
            }
            if(!carte.checked){
                paiementElements.innerHTML="";
            }
        }
        
        function paiementCheque(){
            if(cheque.checked){
                carte.checked=false;
                paiementElements.innerHTML="";
                paiementElements.insertAdjacentHTML('beforeend',"<label>Numéro chèque <input type='text' name='numeroCheque' required></label><label>Banque <input type='text' name='banque'></label> ")
                }
            if(!cheque.checked){
                paiementElements.innerHTML="";
            }
        }

    </script>
    <%- include('../partials/footer.ejs') %>

</body>
</html>