<!DOCTYPE html>
<html lang="en">
    
    <%- include('../partials/head.ejs') %>

<body>
 
    <%- include('../partials/nav.ejs') %>

    <%- include('../partials/barreSaisieCom.ejs') %>

    <div class="page"  >
        <form action="/modifCom" method="GET" id='choix' class="NewGrid">
            <label class='SearchCom'>Numéro commande</label>
            <input class='SearchCom' type='text' name='numCommande' value="<%= searchOptions.numCommande %>">
            <input class='SearchCom' type='submit' value='Rechercher'>
        </form>

        <div class="liste">
            <% if (commandes.length > 0) { %>
                <% commandes.forEach(commande => { %>
                    <%if(!commande.valide) { %>
                        <a class="single" href="/commande/<%= commande._id %>">
                            <h3 class="numéro"><%= commande.numCommande %></h3>
                        </a>   
                    <% } %>
                <% }) %>
            <% } else { %>
                <p>Aucune commande n'est enregistré dans la base de données</p>
            <% } %>
        </div>
    </div>
    
    <%- include('../partials/footer.ejs') %>

</body>
</html>