<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

    <body>
        <%- include('./partials/nav.ejs') %>

            <div class="barre"></div>
            <div class="page" id="choix">

                <form action="" method='GET' id="R_An">
                    <label>Numéro Commande</label>
                    <input type="text" id="Cnum" name="Cnum" value="<%=searchOptions.numerocom%>">
                    <label>Nom Individu</label>
                    <input type="text" id="nom" name="nom" value="<%=searchOptions.client%>">
                    <!-- <label>Prénom Individu</label>
                    <input type="text" id="prenom" name="prenom" value="%=anomalie.client%>"> -->
                    <label>Date d'anomalie</label>
                    <input type='date' value="<%=searchOptions.date%>">
                    <input type='submit' value='Rechercher'>
                </form>

                <div class="liste">
                    <% if (anomalies.length > 0) { %>
                        <% anomalies.forEach(anomalie => { %>
                            <%if(!anomalie.valide) { %>
                                <a class="single" href="/commande/<%= anomalie._id %>">
                                    <h3 class="numéro"><%= anomalie.numeroCom %></h3>
                                </a>   
                            <% } %>
                        <% }) %>
                    <% } else { %>
                        <p>Aucune anomalie n'est enregistré dans la base de données</p>
                    <% } %>
                </div>

            </div>
            <script>
                let on_R_An = document.getElementById("R_An")
            </script>

            <%- include('./partials/footer.ejs') %>

    </body>

</html>