<!DOCTYPE html>
<html lang="en">
    
    <%- include('./partials/head.ejs') %>

<body>

    <%- include('./partials/nav.ejs') %>

    <div class="details content">
        <h2><%= individu.nom %> <%= individu.prenom %></h2>
        <div class="content">
            <p><%= individu.dateNaissance %></p>
        </div>
        <a class="delete" data-doc="<%= individu._id %>">delete</a>
    </div>

    <%- include('./partials/footer.ejs') %>

    <script>
        const trashcan = document.querySelector('a.delete');
        trashcan.addEventListener('click', (e) => {
          const endpoint = `/recherche/${trashcan.dataset.doc}`;
          fetch(endpoint, {
            method: 'DELETE',
          })
            .then(response => response.json())
            .then((data) => window.location.href = data.redirect)
            .catch(err => console.log(err));
        });
    </script>
</body>
</html>