<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs') %>

    <body>

        <%- include('../partials/nav.ejs') %>

            <div class="barre">
                <input class="Nouvel_Individu" type="submit" id="new_Ind" value="Créer un nouvel individu" onclick="Cindividu()">
                <input class="Modif_Individu" type="submit" id="Modif_Ind" value="Modifier les informations d'un individu" onclick="Mindividu()">
                <input class="Nouvel_Article"  type="submit" id="New_Art" value="Créer un nouvel article" onclick="Carticle()">
                <input class="Modif_Article"  type="submit" id="Modif_Art" value="Modifier un article" onclick="Marticle()">
            </div>
            
            <div class="page" id='choix'>
                <form action="/referentiel/Article/<%= article._id %>?_method=PUT" method='POST'>
                    <label>Désignation*</label>
                    <input type='text' name='designation' value="<%= article.designation %>" required>
                    <label>Prix de vente (€)*</label>
                    <input type='number' name='prix' min='0.00' step='0.01' value="<%= article.prix %>" required>
                    <!-- <label>Description</label>
                    <textarea type='text' name='description' required><%= article.descritpion %></textarea> -->
                    <a href="/referentiel/ModifArticle">Annuler</a>
                    <input type='submit' value='Modifier'>
                </form>
            </div>

            <script>
                let on_Modif_Article = document.getElementById("Modif_Art");
                on_Modif_Article.classList.add("on");

                const trashcan = document.querySelector('a.delete');
                trashcan.addEventListener('click', (e) => {
                  const endpoint = `/referentiel/ModifArticle/${trashcan.dataset.doc}`;
                  fetch(endpoint, {
                    method: 'DELETE',
                  })
                    .then(response => response.json())
                    .then((data) => window.location.href = data.redirect)
                    .catch(err => console.log(err));
                });

                function Carticle() {
                    location.replace("http://localhost:3000/referentiel/CreerArticle")
                }

                function Marticle() {
                    location.replace("http://localhost:3000/referentiel/ModifArticle")
                }

                function Cindividu() {
                    location.replace("http://localhost:3000/referentiel/CreerIndividu")
                }

                function Mindividu() {
                    location.replace("http://localhost:3000/referentiel/ModifIndividu")
                }
            </script>

            <%- include('../partials/footer.ejs') %>

    </body>

</html>