<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs') %>

    <body>

        <%- include('../partials/nav.ejs') %>

        <%- include('../partials/barreAdminRef.ejs') %>

            <div class="page" id='choix'>
                <form action="/referentielArticle/<%= article._id %>?_method=PUT" method='POST'>
                    <label>Référence: <%= article.reference %></label>
                    <label>Désignation*</label>
                    <input type='text' name='designation' value="<%= article.designation %>" required>
                    <!-- pattern='[A-Z]{1}[a-z]{1,}' -->
                    <label>Prix de vente (€)*</label>
                    <input type='number' name='prix' min='0.00' step='0.01' value="<%= article.prix %>" required>
                    <label>Description</label>
                    <input type='text' name='description' value="<%= article.description %>" required>
                    <input type='submit' class='update' value='Modifier'>
                    <input type='button' class="delete" data-doc="<%= article._id %>" value='Supprimer'>
                    <input type="button" value="Annuler" onclick="location.href='/referentielModifArticle';">
                </form>
            </div>

            <script>
                let on_Modif_Article = document.getElementById("Modif_Art");
                on_Modif_Article.classList.add("on");

                const trashcan = document.querySelector('input.delete');
                trashcan.addEventListener('click', (e) => {
                    const endpoint = `/referentielModifArticle/${trashcan.dataset.doc}`;
                    fetch(endpoint, {
                            method: 'DELETE',
                        })
                        .then(response => response.json())
                        .then((data) => window.location.href = data.redirect)
                        .catch(err => console.log(err));
                });
            </script>

            <%- include('../partials/footer.ejs') %>

    </body>

</html>