<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs') %>

    <body>

        <%- include('../partials/nav.ejs') %>

            <div class="barre">
                <input class="Nouvel_Individu" type="submit" id="new_Ind" value="Créer un nouvel individu" onclick="Cindividu()">
                <input class="Modif_Individu" type="submit" id="Modif_Ind" value="Modifier les informations d'un individu" onclick="Mindividu()">
                <input class="Nouvel_Article" type="submit" id="New_Art" value="Créer un nouvel article" onclick="Carticle()">
                <input class="Modif_Article" type="submit" id="Modif_Art" value="Modifier un article" onclick="Marticle()">
            </div>

            <div class="page" id='choix'>
                <div class="details content">
                    <!-- <h2>%= individu.nom %> %= individu.prenom %></h2>
                    <div class="content">
                        <input type='text' name='dateNaissance' placeholder=%= individu.dateNaissance %> required>
                        <p>%= individu.categoriePro %></p>
                        <p>%= individu.adresseNum %>%= individu.adresseType %></p>
                        <p>%= individu.adresseCode %>%= individu.adresseVille %></p>
                        <p>tel:%= individu.numeroTel %> mail:%= individu.Mail %></p>
                    </div> -->
                    <form class='NewI' action='/referentielIndividu/<%= individu.id %>?_method=PUT' method='POST'>
                        <label class='Col1'>Nom*</label>
                        <input class='Col1' type='text' name='nom' value='<%= individu.nom %>' pattern='[A-Z]{1,}' required>
                        <label class='Col2'>Prénom*</label>
                        <input class='Col2' type='text' name='prenom' value='<%= individu.prenom %>' pattern='[A-Z]{1}[a-z]{1,}' required>
                        <!-- <label>Date de Naissance*</label>
                        <input type='date' name='dateNaissance' value='%= individu.dateNaissance %>' required> -->
                        <label>Catégorie socio-professionnelle*</label>
                        <SELECT name='categoriePro' size='1' required>
                            <OPTION selected><%= individu.categoriePro %><OPTION>Agriculteurs exploitants <OPTION>Artisans. commerçants. chefs entreprise<OPTION>Cadres et professions intellectuelles supérieures<OPTION>Professions intermédiaires<OPTION>Employés<OPTION>Ouvriers<OPTION>Retraités<OPTION>Étudiants<OPTION>Autres</SELECT>
                        <label>Adresse*</label>
                        <input class='Col1' type='text' name='adresseNum' pattern='[0-9]+' value='<%= individu.adresseNum %>' required>
                        <input class='Col2' type='text' name='adresseType' value='<%= individu.adresseType %>' required>
                        <input class='Col1' type='text' pattern='[0-9]{5}' name='adresseCode' value='<%= individu.adresseCode %>' required>
                        <input class='Col2' type='text' name='adresseVille' value='<%= individu.adresseVille %>' required>
                        <input type='text' placeholder='Complément d`adresse' name='adresseInfos' value='<%= individu.adresseInfos %>'>
                        <label class='Col1'>Numéro de téléphone*</label>
                        <input class='Col1' type='tel' name='numeroTel' placeholder='0XXXXXXXXX' pattern='[0]{1}[0-9]{9}' value="<%= individu.numeroTel %>" required>
                        <label class='Col2'>Adresse mail</label>
                        <input class='Col2' type='email' name='adresseMail' placeholder='exemple@gmail.com' value="<%= individu.adresseMail %>">
                        <label>Caractéristique commerciale*</label>
                        <SELECT name='statut' size='1' required>
                            <OPTION selected><%= individu.statut %><OPTION>Enregistré<OPTION>Prospect<OPTION>Client<OPTION>Client interdit</SELECT>
                        <input type='submit' value='Modifier'>
                        <input type='submit' class="delete" data-doc="<%= individu._id %>" value='Supprimer'>
                        <input type="submit" value="Annuler" onclick="Mindividu()">
                    </form>
                </div>
            </div>

            <script>
                let on_Modif_Individu = document.getElementById("Modif_Ind");
                on_Modif_Individu.classList.add("on");

                const trashcan = document.querySelector('input.delete');
                trashcan.addEventListener('click', (e) => {
                    const endpoint = `/referentielModifIndividu/${trashcan.dataset.doc}`;
                    fetch(endpoint, {
                            method: 'DELETE',
                        })
                        .then(response => response.json())
                        .then((data) => window.location.href = data.redirect)
                        .catch(err => console.log(err));
                });

                function Carticle() {
                    location.replace("http://localhost:3000/referentiel/CreerArticle")
                }

                function Marticle() {
                    location.replace("http://localhost:3000/referentielModifArticle")
                }

                function Cindividu() {
                    location.replace("http://localhost:3000/referentiel/CreerIndividu")
                }

                function Mindividu() {
                    location.replace("http://localhost:3000/referentielModifIndividu")
                }
            </script>

            <%- include('../partials/footer.ejs') %>

    </body>

</html>