<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs') %>

    <body>

        <%- include('../partials/nav.ejs') %>

            <div class="barre">
                <input class="Nouvel_Individu" type="submit" id="new_Ind" value="Créer un nouvel individu" onclick="Cindividu()">
                <input class="Modif_Individu" type="submit" id="Modif_Ind" value="Modifier les informations d'un individu" onclick="Mindividu()">
                <input class="Nouvel_Article"  type="submit" id="New_Art" value="Créer un nouvel article" onclick="Carticle()">
                <input class="Modif_Article"  type="submit" id="Modif_Art" value="Modifier un article" onclick="Marticle()">
            </div>
            
            <div class="page" id='choix'>
                <div class="details content">
                    <h2><%= individu.nom %> <%= individu.prenom %></h2>
                    <div class="content">
                        <input type='text' name='dateNaissance' placeholder=<%= individu.dateNaissance %> required>
                        <p><%= individu.categoriePro %></p>
                        <p><%= individu.adresseNum %><%= individu.adresseType %></p>
                        <p><%= individu.adresseCode %><%= individu.adresseVille %></p>
                        <p>tel:<%= individu.numeroTel %> mail:<%= individu.Mail %></p>
                    </div>
                    <a class="delete" data-doc="<%= individu._id %>">delete</a>
                </div>
            </div>

            <script>
                let on_Modif_Individu = document.getElementById("Modif_Ind");
                on_Modif_Individu.classList.add("on");

                const trashcan = document.querySelector('a.delete');
                trashcan.addEventListener('click', (e) => {
                  const endpoint = `/referentiel/ModifIndividu/${trashcan.dataset.doc}`;
                  fetch(endpoint, {
                    method: 'DELETE',
                  })
                    .then(response => response.json())
                    .then((data) => window.location.href = data.redirect)
                    .catch(err => console.log(err));
                });

                function Carticle() {
                    location.replace("http://localhost:3000/referentiel/CreerArticle")
                }

                function Marticle() {
                    location.replace("http://localhost:3000/referentiel/ModifArticle")
                }

                function Cindividu() {
                    location.replace("http://localhost:3000/referentiel/CreerIndividu")
                }

                function Mindividu() {
                    location.replace("http://localhost:3000/referentiel/ModifIndividu")
                }
            </script>

            <%- include('../partials/footer.ejs') %>

    </body>

</html>