<!DOCTYPE html>
<html lang="en">
    
    <%- include('../partials/head.ejs') %>

<body>

    <%- include('../partials/nav.ejs') %>
    <%- include('../partials/barreRecherche.ejs') %>

    <div class="individus_c">
        <h2>Recherche</h2>

        <form action="/rechercheInd" method="GET" class="search">
            <label>Nom</label>
            <input type="text" name="nom" value="<%= searchOptions.nom %>">
            <label>Prénom</label>
            <input type="text" name="prenom" value="<%= searchOptions.prenom %>">
            <button type="submit">Recherche</button>
        </form>
        <br>
        <h2>Liste des individus</h2>
        <div class="liste">
            <% if (individus.length > 0) { %>
                <% individus.forEach(individu => { %>
                    <a class="single" href="/rechercheInd/<%= individu._id %>">
                        <h3 class="nom"><%= individu.nom %></h3>
                        <h3 class="prenom"><%= individu.prenom %></h3>
                        <p classe="dateNaissance"><%= individu.dateNaissance.toDateString() %></p>
                    </a>
                <% }) %>
            <% } else { %>
                <p>Personne n'est enregistré dans la base de données</p>
            <% } %>
        </div>
        
    </div>

    <%- include('../partials/footer.ejs') %>

</body>
</html>